:root {
    --color-primary: #000D35;
    --color-secondary: #FFF;
    --color-accent: #0098EB;
    --color-background: #E3E3E3;
    --blue-primary: #0082C7
}

.home {
    display: flex;
    width: 100%;
    height: 804px;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    background: url(../assets/homeBack.jpeg) center center;
    background-size: cover;
}
.navHome {
    display: flex;
    align-items: flex-start;
    flex: 1 0 0;
    height: 144px;
    border-bottom: 1px solid #CCC;
    flex-wrap: wrap;
}
.navLogo {
    display: flex;
    padding: 64px 64px;
    align-items: flex-start; 
    height: 100%;
}
.navLogo a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    color: var(--Color, #FFF);
    text-align: center;
    /* Merryweather - Bold */
    font-family: Merriweather;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;  
}

.nav {
    display: flex;
    align-items: flex-start;
    gap: 32px;
    flex: 1 0 0;
    height: 100%;
}

.nav li {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative; /* Adicione position relative para posicionar o pseudo-elemento */
}

.nav li:before {
    content: "";
    position: absolute;
    bottom: -1%;
    left: 50%;
    width: 100%;
    height: 2px;
    background-color: #0082C7;
    transform: translateX(-50%);
    opacity: 0; /* Inicialmente oculto */
    transition: opacity 200ms ease-in-out;
}

.nav li:hover:before {
    opacity: 1; /* Mostra ao passar o mouse*/ 
}

.nav li a {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    color: var(--Color, #FFF);
    text-align: center;
    /* Merryweather - Bold */
    font-family: Merriweather;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;        
}

.search {
    width: 31px;
    height: 31px;
}

.navBtn {
    display: flex;
    padding: 0px 32px;
    align-items: center;
    gap: 16px;
    align-self: stretch;    
}

.link {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.rectangle { 
    position: relative;
    width: 256px;
    height: 50px;
    color: #0098EB;
}

.link p {
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translateY(-50%); /* Para centralizar verticalmente */
    color: var(--Color, #FFF);
    text-align: center;
    font-family: Merriweather;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0; /* Remova a margem padrão do parágrafo */
}

.arrow1 {
    position: absolute;
    right: 15%; /* Ajuste a posição conforme necessário */
    top: 35%; /* Ajuste a posição conforme necessário */
    transform: translateY(-50%); /* Para centralizar verticalmente */
    width: 14px;
    height: 0px;
    stroke-width: 1px;
    stroke: var(--Color, #FFF);
}        

.navTxt {
    display: flex;
    width: 430px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    position: absolute;
    left: 247px;
    bottom: 50%;    
}

.navT1 {
    align-self: stretch;
    color: var(--Color, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;    
}

.navT2{
    align-self: stretch;
    color: var(--Color, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.m__s-2 {
    display: flex;
    padding: 6rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: stretch;
    flex-wrap: wrap;
}

.s-2__txt {
    flex: 1 0 0;
    color: var(--color-primary);
    font-family: Mulish;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.m__s-3 {
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 3rem;
    align-self: stretch;
    flex-wrap: wrap;
    background: #E3E3E3;
}
.s-3__c-1, .s-3__c-2, .s-3__c-3 {
    display: flex;
    height: 17.625rem;
    padding: 8px 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex: 1 0 0;
}
.c-1__img, .c-2__img, .c-3__img {
    flex: 1 0 0;
    align-self: stretch;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}
.c-1__img {
    background-image: url('../assets/img2.jpg');
}

.c-2__img {
    background-image: url('../assets/img3.jpg');
}

.c-3__img {
    background-image: url('../assets/img4.jpg');
}
.c-1__txt-1, .c-2__txt-1, .c-3__txt-1 {
    align-self: stretch;
    color: var(--color-primary);
    /* Merryweather - Bold */
    font-family: Merriweather;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.c-1__txt-2, .c-2__txt-2, .c-3__txt-2 {
    align-self: stretch;
    color: var(--color-primary);
    /* Mulish - Light */
    font-family: Mulish;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.m__s-4 {
    display: flex;
    padding: 6rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    align-self: stretch;
    background: var(--color-secondary);
}
.c-4__txt-1 {
    align-self: stretch;
    color: var(--color-primary);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Mulish;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.c-4__txt-2 {
    align-self: stretch;
    color: var(--color-primary);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Mulish;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.m__s-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex: 1 0 0;
    align-self: stretch;
    flex-wrap: wrap;
    background: #1A2149;
}
.c-5__img-frame {
    display: flex;
    height: 45.4791875rem;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
}
.c-5__img {
    flex: 1 0 0;
    align-self: stretch;
    background-image: url(../assets/logo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.c-6__txt-frame {
    display: flex;
    height: 45.4791875rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.125rem;
    flex: 1 0 0;
}
.c-6__txt-1 {
    align-self: stretch;
    color: var(--color-secondary);
    font-family: Merriweather;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.c-6__txt-2, .c-6__txt-3 {
    align-self: stretch;
    color: var(--color-secondary);
    font-family: Mulish;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.m__s-6 {
    display: flex;
    padding: 196px 296px;
    justify-content: center;
    align-items: flex-start;
    gap: 21.375rem;
    flex: 1 0 0;
    align-self: stretch;
    background: var(--color-secondary);
}
.c-7__txt-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.125rem;
    flex: 1 0 0;
}
.c-7__txt-1 {
    align-self: stretch;
    color: var(--color-primary);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Merriweather;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
}
.c-7__txt-2 {
    align-self: stretch;
    color: var(--color-primary);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Mulish;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 200;
    line-height: 1.5rem;
}
.form {
    display: flex;
    padding: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    background: var(--color-secondary);
    box-shadow: 0 0.5rem 1.875rem 0 rgba(0, 0, 0, 0.25);
}
.form-name, .form-email, .form-area {
    display: flex;
    width: 22rem;
    padding: 1.25rem;
    align-items: flex-start;
    font-size: 1.25rem;
    background: var(--color-secondary);
    border: 1px solid var(--color-accent);
    color: #868686;
    gap: 1px;
    font-style: normal;
    font-weight: 700;
    font-family: Merriweather;
    font-feature-settings: 'clig' off, 'liga' off;
    line-height: 1.5rem;
}
.form-name, .form-email {
    align-content: flex-start;
    flex-wrap: wrap;
    font-weight: 700;
}
.form-area {
    height: 12.5rem;    
    resize: none;
}
.form-name__txt {
    flex: 1 0 0;
    color: #868686;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Merriweather;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
}
.form-submit {
    display: flex;
    width: 24.625rem;
    height: 60px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 5px;
    background: var(--blue-primary);
}
.bottom-bar {
    display: flex;
    height: 5rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-shrink: 0;
    align-self: stretch;
    background: #000D35;
}
.bottom-bar__txt-1 {
    color: var(--color-secondary);
/* Merryweather - Light */
    font-family: Merriweather;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

@media only screen and (max-width: 360px) {
    body {
        overflow-x: hidden ;
    }

    .top-bar {
        width: 393px;
        height: 80px;
        padding: 8px 28px;
    }

    .top-txt__frame {
        display: flex;
        padding: 8px;
        align-items: flex-start;
        align-content: flex-start;
    }

    .brand-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: var(--color-primary);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
    }

    .brand-list li {
        opacity: 0;
    }

    .menu {
        display: block; 
    }

    .m__s-1 {
        width: 393px;
        padding: 48px 8px;
        gap: 28px;
    }

    .s-1__txt-2 {
        align-self: stretch;
    }

    .s-1__btn {
        width: 100px;
        height: 48px;
        padding: 2.375rem;
        align-items: center;
        align-content: center;
    }

    .s-1__btn-txt {
        font-size: 1rem;
    }

    .m__s-2 {
        width: 393px;
        height: 296px;
        flex-direction: column;
    }

    .s-2__txt {
        display: flex;
        width: 341px;
        flex-direction: column;
        justify-content: center;
        font-size: 1rem;
        font-weight: 300;
    }

    .m__s-3 {
        display: flex;
        width: 393px;
        height: 1004px;
        padding: 48px 26px;
        flex-direction: column;
        gap: 48px;
    }

    .s-3__c-1, .s-3__c-2, .s-3__c-3 {
        gap: 8px;
        align-self: stretch;
    }

    .c-1__img, .c-2__img, .c-3__img {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        flex: 1 0 0;
        align-self: stretch;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; 
    }

    .c-1__txt-1, .c-2__txt-1, .c-3__txt-1 {
        flex: 1 0 0;
        font-size: 16px;
        font-weight: 400;
    }

    .c-1__txt-2, .c-2__txt-2, .c-3__txt-2 {
        flex: 1 0 0;
        font-size: 16px;
    }

    .m__s-5 {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex: 1 0 0;
        align-self: stretch;
        flex-wrap: wrap;
        background: #1A2149;
    }

    .m__s-6 {
        display: flex;
        padding: 196px 296px;
        justify-content: center;
        align-items: flex-start;
        gap: 21.375rem;
        flex: 1 0 0;
        align-self: stretch;
        background: var(--color-secondary);
    }
}
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}