:root {
    --color-primary: #000D35;
    --color-secondary: #FFF;
    --color-accent: #0098EB;
    --color-background: #E3E3E3;
    --blue-primary: #0082C7;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-gray: #cccccc;
}

.home {
    display: flex;
    width: 100%;
    height: 804px;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    background: url(../assets/homeBack.jpeg) center center;
    background-size: cover;
}
.navHome {
    display: flex;
    align-items: flex-start;
    flex: 1 0 0; /* Ocupa todo espaço. */
    height: 144px;
    border-bottom: 1px solid var(--color-gray);
    flex-wrap: wrap;
}
.navLogo {
    display: flex;
    padding: 64px 64px;
    align-items: flex-start; 
    height: 100%;
}
.navLogo a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    color: var(--color-white);
    text-align: center;
    font-family: Merriweather; /* Bold */
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;  
}

.nav {
    display: flex;
    align-items: flex-start;
    gap: 32px;
    flex: 1 0 0;
    height: 100%;
}

.nav li {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative; /* Position relative para posicionar o pseudo-elemento (before). */
}

.nav li:before {
    content: "";
    position: absolute;
    bottom: -1%;
    left: 50%;
    width: 100%;
    height: 3px;
    background-color: var(--blue-primary);
    transform: translateX(-50%);
    opacity: 0; /* Inicialmente oculto. */
    transition: opacity 200ms ease-in-out;
}

.nav li:hover:before {
    opacity: 1; /* Mostra ao passar o mouse. */ 
}

.nav li a {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    color: var(--color-white);
    text-align: center;
    font-family: Merriweather;  /* Bold */
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;       
}

.navBtn { /* Link button, search button. */ 
    display: flex;
    padding: 0px 32px;
    align-items: center;
    gap: 32px;
    align-self: stretch;
}

.link1 {
    position: relative;
    display: flex;
    align-items: center;
    transition: 0.4s;
}

.link1:hover, .link2:hover {
    transform: scale(1.1);
}

.rectangle1 { 
    position: relative;
    width: 256px;
    height: 50px;
    color: var(--color-accent);
}

.link1 p {
    position: absolute;
    left: 15%; /* (eixo x) */
    top: 50%; /* (eixo y) */
    transform: translateY(-50%); /* Para centralizar verticalmente (eixo Y). */
    color: var(--color-white);
    text-align: center;
    font-family: Merriweather;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.arrow1 {
    position: absolute;
    left: 75%;
    top: 50%; 
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    stroke-width: 1px;
    stroke: var(--color-white);
}        

.navTxt {
    display: flex;
    width: 430px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    position: absolute;
    left: 247px;
    top: 25%;    
}

.navT1 {
    align-self: stretch;
    color: var(--color-white);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;    
}

.navT2 {
    align-self: stretch;
    color: var(--color-white);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.searchBox { /* SEARCH BOX FRAME */
    border-radius: 5px;
    height: 40px;
    padding-left: 15px;
}

.searchIn { /* INPUT */
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: var(--color-black);
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

.searchBtn { /* SVG */
    background-color: transparent;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.link2 {
    display: flex;
    width: 262px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.4s;
}

.rectangle2 {
    width: 262px;
    height: 50px;
    fill: var(--color-accent);
    position: absolute;
}

.link2 p {
    position: absolute;
    left: 60.359px;
    top: 17px;  
    color: var(--Color, #FFF);
    text-align: center;
    font-family: Merriweather;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.arrow2 {
    width: 14.328px;
    height: 0px;
    position: absolute;
    right: 34.797px;
    top: 17px;
    stroke-width: 1px;
    stroke: var(--color-white);
}

.section1 {
    display: flex;
    padding: 78px 6rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: stretch;
    flex-wrap: wrap;
}

.section1Txt {
    flex: 1 0 0;
    color: var(--color-primary);
    font-family: Mulish;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.section2 {
    display: flex;
    background: var(--color-background);
    padding: 96px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.section2Frame {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 64px;
    align-self: stretch;
    flex-wrap: wrap;
}

.section2Card1, .section2Card2, .section2Card3 {
    display: flex;
    width: 384px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.card1Img, .card2Img, .card3Img {
    height: 200px;
    align-self: stretch;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}
.card1Img {
    background-image: url('../assets/img2.jpg');
}

.card2Img {
    background-image: url('../assets/img3.jpg');
}

.card3Img {
    background-image: url('../assets/img4.jpg');
}
.card1Txt1, .card2Txt1, .card3Txt1 {
    align-self: stretch;
    width: 100%;
    height: auto;
    color: var(--color-primary);
    font-family: Merriweather; /* Bold */
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.card1Txt2, .card2Txt2, .card3Txt2 {
    align-self: stretch;
    width: 100%;
    height: auto;
    color: var(--color-primary);
    /* Mulish - Light */
    font-family: Mulish;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.section3 {
    display: flex;
    padding: 6rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    align-self: stretch;
    background: var(--color-secondary);
}
.section3Txt1 {
    align-self: stretch;
    color: var(--color-primary);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Mulish;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.section3Txt2 {
    align-self: stretch;
    color: var(--color-primary);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Mulish;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.section4 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    background: #1A2149;
}

.section4ImgFrame {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
    flex: 1 0 0;
    flex-wrap: wrap;
}

.section4Img {
    height: 720px;
    flex: 1 0 0;
    background-image: url(../assets/logo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section4TxtFrame {
    display: flex;
    padding: 48px 24px;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    flex: 1 0 0;
    align-self: stretch;
}

.section4Txt1 {
    align-self: stretch;
    color: var(--color-white);
    font-family: Merriweather;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.section4Txt2, .section4Txt3 {
    align-self: stretch;
    color: var(--color-white);
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.section5 {
    display: flex;
    padding: 48px 96px;
    justify-content: center;
    align-items: flex-start;
    gap: 128px;
    align-self: stretch;
    background: var(--color-white);
}

.section5TxtFrame {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    flex: 1 0 0;
    align-self: stretch;
}

.section5Txt1 {
    align-self: stretch;
    color: var(--color-primary);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Merriweather;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 85.714% */
}

.section5Txt2 {
    align-self: stretch;
    color: var(--color-primary);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    line-height: 24px; /* 120% */
}

.formFrame {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
}

.form {
    display: flex;
    padding: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: var(--color-white);
    box-shadow: 0 0.5rem 1.875rem 0 rgba(0, 0, 0, 0.25);
}

.formName, .formEmail, .formArea {
    display: flex;
    width: 22rem;
    padding: 1.25rem;
    align-items: flex-start;
    font-size: 1.25rem;
    background: var(--color-white);
    border: 1px solid var(--color-accent);
    color: #868686;
    gap: 1px;
    font-style: normal;
    font-weight: 700;
    font-family: Merriweather;
    font-feature-settings: 'clig' off, 'liga' off;
    line-height: 1.5rem;
    outline: none;
}

.formName, .formEmail {
    align-content: flex-start;
    flex-wrap: wrap;
    font-weight: 700;
}

.formArea {
    height: 12.5rem;    
    resize: none;
}

.formSubmit {
    display: flex;
    width: 24.625rem;
    height: 60px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 5px;
    background: var(--blue-primary);
    border: none;
    transition: 0.4s;
}

.formSubmit:hover {
    background: var(--color-primary);
    color: #ffffff;
}

.footer {
    display: flex;
    height: 5rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-shrink: 0;
    align-self: stretch;
    background: #000D35;
}
.footerTxt1 {
    color: var(--color-white);
    font-family: Merriweather; /* Light */
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}